<!DOCTYPE html>
<html lang="en">
<%- include('./../../layout/head') %>
<body>
  <%- include('./../../layout/header') %>
  <main>
    <h2><a href="/">Return to menu</a></h2>
    <div class="book-grid">
      <ul>
        <li><img src= "<%= singleBook.image_url %>" class="book-img" /></li>
        <li class="book-title"><%= singleBook.title %></li>
        <li class="book-author"><%= singleBook.author %></li>
        <li class="book-description"><%= singleBook.description %></li>
        <li class="book-isbn"><%= singleBook.isbn %></li>
      </ul>
      <div class="book-submit">
        <a href="/books/<%= singleBook.id %>/edit">
          <button>Update Details</button>
        </a>
        <form action="/books/<%= singleBook.id %>?_method=DELETE" method="post">
          <button type="submit">Delete Book</button>
        </form>
      </div>
    </div>
  </main>
</body>
</html>