<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
  <title>Book app</title>
</head>
<body>
  <header>
    <h1>Best Books!</h1>
    <nav>
      <h3><a href="/">HOME</a></h3>
      <h3><a href="/searches/new">SEARCH</a></h3>
    </nav>
  </header>
  <main>
    <div>
      <a href="/">Return to menu</a>
    </div>
    <section class="book-details">
      <ul>
        <li><img src= "<%= singleBook.image %>" /></li>
        <li><%= singleBook.title %></li>
        <li><%= singleBook.author %></li>
        <li><%= singleBook.description %></li>
        <li><%= singleBook.isbn %></li>
      </ul>
      
      <a href="/books/<%= singleBook.id %>/edit">
        <button>update details</button>
      </a>
      
      <form action="/books/<%= singleBook.id %>?_method=DELETE" method="post">
        <button type="submit">delete book</button>
      </form>

    </section>
  </main>
</body>
</html>