<!DOCTYPE html>
<html lang="en">
<%- include('./../../layout/head') %>
<body>
  <%- include('./../../layout/header') %>
  <main>
    <h2>Edit Book Details</h2>
        <form class="book-grid" action="/books/<%= singleBook.id %>?_method=PUT" method="post">
          <div class="edit-label">
            <label for="author">Author</label>
            <input type= "text" name="author" value="<%= singleBook.author %>">
          </div>
          <div class="edit-label">
            <label for="title">Title</label>
            <input type= "text" name="title" value="<%= singleBook.title %>">
          </div>
          <div class="edit-label">
            <label for="title">ISBN</label>
            <input type= "text" name="isbn" value="<%= singleBook.isbn %>">
          </div>
          <div class="edit-label">
            <label for="title">Image URL</label>
            <input type= "text" name="image_url" value="<%= singleBook.image_url  %>">
          </div>
          <div class="edit-label">
            <label for="title">Book description</label>
            <input type= "text" name="description" value="<%= singleBook.description %>">
          </div>
          <div class="edit-label">          
            <input class="book-submit" type="submit" value="save" name="update book">
          </div>
        </form>

  </main>
</body>
</html>