<!DOCTYPE html>
<html lang="en">
<%- include('./../../layout/head') %>
<body>
  <%- include('./../../layout/header') %>
  <main>
    <div class="book-results">
      <h2>Search Results</h2>
      <% for (let i = 0; i < bookArray.length; i++) { %>
        <div class="book-grid">
          <ul>
            <li> <img class="book-img" src="<%= bookArray[i].image %>" /> </li>
            <li class="book-title"><%= bookArray[i].title %></li>
            <li class="book-author"><%= bookArray[i].author %></li>
            <% if (bookArray[i].description) { %>
              <li class="book-description"><%= bookArray[i].description %></li>  
            <%} %>    
          </ul>
          <form action='/books' method='POST'>
            <input type="hidden" name="author" value="<%= bookArray[i].author %>">
            <input type="hidden" name="title" value="<%= bookArray[i].title %>">
            <input type="hidden" name="isbn" value="<%= bookArray[i].isbn %>">
            <input type="hidden" name="image" value="<%= bookArray[i].image %>">
            <input type="hidden" name="description" value="<%= bookArray[i].description %>">
            <input class="book-submit" type="submit" value="save">
          </form>
        </div>
      <% } %>
    </div>
  </main>
</body>
</html>