<!DOCTYPE html>
<html lang="en">
<%- include('./../layout/head') %>
<body>
  <%- include('./../layout/header') %>
  <main>
    <div class="books-saved">
      <h2> <%= newBook.length %> Saved Books</h2>
      <% for (let i = 0; i < newBook.length; i++) { %>
        <div class="book-grid">
          <ul>
            <li> <img class="book-img" src="<%= newBook[i].image_url %>" /> </li>
            <li class="book-title"><%= newBook[i].title %></li>
            <li class="book-author"><%= newBook[i].author %></li>
          </ul>
          <a href="/books/<%= newBook[i].id %>"><button class="book-submit">View Details</button></a>
        </div>
      <% } %>
    </div>
  </main>
</body>
</html>
